<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    {% include "navbars/admin_navbar.html" %}
    <br>
    <br>

<h2 class="p-3 bg-success text-white" style = 'font-size: 35px;text-align:center;'>Product was Added Successfully!</h2>
<br><br>
<div class="options" style="text-align:center">
  <a href="../../addproduct" class="btn btn-secondary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">Add another Product</a><br><br>

<a href="../../afterlogin" class="btn btn-secondary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">View All Products</a><br><br>
</div>

<br>
  </body>
</html>
