<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<style>
li {
    list-style-type: none;
    margin-left: 20px;
}
</style>
</head>
<body>

<div style="font-family: 'Roboto', sans-serif; padding-top: 5px; margin-bottom: 0; padding-bottom: 0; width: 100vw;">
    <nav class="navbar navbar-expand-md bg-white">
        <a class="navbar-brand" href="#">
            <img src= "{% static "logo.png" %}" class="d-inline-block align-top" alt="" style="height: 100px; padding-left: 4px;">
        </a>
        <div> 
        <div class="container-fluid" style="padding-right: 5cm;">
            <form class="d-flex" method = 'POST' action = "{% url 'product_search_home' %}">
              {% csrf_token %}
              <label class="align-self-top" style="width: 6cm; padding-top: 10px;" for = "searchby">Search by:</label>
              <select class=" w-50 form-control" name="searchby">
                <option value="product_name">product name</option>
                <option value="product_category">category</option>
              </select>
              <div>&nbsp</div>
              <input class="form-control me-2" name = 'search-result' type="search" placeholder="Search" aria-label="Search">
        
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div  class="collapse navbar-collapse" id="navbarCollapse" style="padding-top: 20px;">
            <!-- <div class="navbar-nav"> </div>  -->
            <div class="navbar-nav" style="gap: 10px;">
                <a href="/" ><button type="button" class="btn btn-outline-success">Home</button></a>

                <a href="../../show_cart" ><button type="button" class="btn btn-outline-success">Cart</button></a>

                <a href="../../show_favorites"><button type="button" class="btn btn-outline-success">Favorites</button></a>

                <a href="../../new_arrivals"><button type="button" class="btn btn-outline-success">New Arrivals</button></a>
                
          </div>
          <div style = "position:absolute; right:160px">
              <li class="nav-item dropdown">
                <a role="button" data-toggle="dropdown"><button type="button" class="btn btn-outline-primary">Sort by</button></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../sortbyname">Product Name</a>
                  <a class="dropdown-item" href="../sortbyprice">Price</a>
                </div>
              </li> 
            </div>
            <div class="navbar-nav " style = "position:absolute; right:40px" >
              <a href="./signup"><button type="button" class="btn btn-outline-primary">Login</button></a>
            </div>
        </div>
    </nav>
  </div>

{% include "common/messages.html" %}

<script>
  setTimeout(function(){
    if ($('#msg').length > 0) {
      $('#msg').remove();
    }
  }, 2000)
</script> 

</body>
</html>
